.container
{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20vh 0;
}

.header > *
{
  color: var(--foreground-secondary);
  text-align: center;
}

.header > h3 
{
  font-size: calc(20rem / 16);
  letter-spacing: calc(calc(20rem / 16) * 0.07);
  font-weight: 500;
  opacity: 0.5;
}

.header > h3 > span
{
  font-family: 'Jost', sans-serif;
  font-weight: 900;
}

.header > h2
{
  font-size: calc(35rem / 16);
  font-weight: 400;
  letter-spacing: calc(calc(35rem / 16) * 0.05);
}

.card_container
{
  margin: auto;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding-top: calc(100rem / 16);
}

.card_container > div
{
  margin: calc(15rem / 16);
}

@media (orientation: portrait) and (max-width: 700px)
{
  .card_container
  {
    width: 80vw;
  }
}
