.container
{
  width: calc(100vw - var(--scrollbar-thickness));
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > *
{
  color: var(--foreground-secondary);
  text-align: center;
}

.header > h3 
{
  font-size: calc(20rem / 16);
  font-weight: 600;
  opacity: 0.5;
}

.header > h3 > span
{
  font-family: 'Jost', sans-serif;
  font-weight: 900;
}

.header > h2
{
  font-size: calc(35rem / 16);
  font-weight: 400;
}

.card_container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: calc(100rem / 16);
}

.card_container > div
{
  width: calc(380rem / 16);
  height: calc(380rem / 16);

  margin: 0 calc(15rem / 16);
}