.container
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav_spacer
{
    height: 100px;
    width: 100vw;
}