.container
{
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container > header > h3
{
    opacity: 0.7;
}

.container > header
{
    width: 33vw;
    margin-left: 10vw;
}

.container > header > h1 > span
{
    font-family: "Jost", sans-serif;
    font-weight: 900;
}