.footer
{
    width: 100vw;
    height: 100vh;
    background: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 300px;
    height: 100%;
}

.footer_header_text > h2
{
    font-size: 32px;
}

.button_landscape
{
    width: 100%;
    height: 4em;
}

.footer_links_container
{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.footer_links
{
    padding-bottom: 5vh;
    width: 100%;
}

.footer_links > li
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer_links > li > :not(img)
{
    padding-left: 15px;
}

.button_portrait
{
    width: 100%;
    height: 4em;
    display: none;
    visibility: hidden;
}

@media (orientation: portrait)
{
    .footer_links_container
    {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        display: none;
        visibility: hidden;
    }

    .button_landscape
    {
        display: none;
        visibility: hidden;
    }

    .container
    {
        flex-direction: column;
    }

    .footer_header
    {
        max-width: 100%;
    }

    .button_portrait
    {
        display: block;
        visibility: visible;
    }
}

@media (prefers-color-scheme: dark)
{
    .footer_links
    {
        filter: invert();
    }

    .footer
    {
        background: black;
    }
}