@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root
{
    --background: linear-gradient(#FFD4FA, #FFFFFF);
    --foreground-color: linear-gradien(#6100FF, #EB00FF);
}

body, html
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, span, button
{
    font-family: "Josefin Sans", sans-serif;
}

p
{
    font-family: "Inter", sans-serif;
}