@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root
{
  --background: #FFC5D4;
  --foreground: #343434;
}

html, body
{
  box-sizing: border-box;
  background: var(--background);
}

*
{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
