.container 
{
    position: relative;
    isolation: isolate;
    perspective: 600px;
    transition-property: transform;
    will-change: transform;
    margin: 0 50px;
    width: 300px;
    height: 300px;
}

.container > div
{
    height: 100%;
    display: grid;
    will-change: transform;
    transform-origin: center center;
    transform: rotateY(var(--r-x)) rotateX(var(--r-y));
    background-image: url("/ida-avatar.svg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(256, 256, 256, 0.3);
    border-image: initial;
}

.container > div:hover
{
    transition: 0 transform;
}