.container
{
    position: fixed;
    width: 100vw;
    height: 100vh !important;
    visibility: visible;
    top: 0;
    left: 0;
    background: var(--purple-gradient);
    z-index: 3;
    overflow: hidden;
    white-space: nowrap;
}

.hamburger
{
    width: 4vh;
    height: 4vh;
    position: fixed;
    z-index: 5;
    background: url("/hamburger_menu_open_light.svg");
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    right: 10vw;
    top: 3vh;
    cursor: pointer;
}

.logo_container
{
    position: fixed !important;
    left: 10vw !important;
    top: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.logo
{
    width: 8vw;
    height: 2.4vw;
    background: url("/logo_dark.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    visibility: visible !important;
}

@media (prefers-color-scheme: light)
{
    .buttons > :first-child > button
    {
        background: white;
        color: #A800FF;
    }

    .buttons > :last-child > button
    {
        color: white;
        outline-color: white;
    }
}

@media (max-width: 1280px) and (max-height: 720px), (orientation: portrait)
{
    .logo
    {
        width: 15vh;
        height: calc(15vh / 3);
    }
}

@media (prefers-color-scheme: dark)
{

    .hamburger
    {
        background: url("/hamburger_menu_open_dark.svg");
    }

    .container
    {
        background: black;
    }

    .logo
    {
        background: url("/logo_dark.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }
}

.buttons
{
    padding-bottom: 5vh;
    width: 100vw;
    height: 20vh;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttons > div
{
    height: 5.5vh;
    width: 90vw;
}



.contact_info, .page_links
{
    filter: invert();
    width: 100%;
    position: absolute;
    bottom: 25vh;
}

.page_links
{
    top: 10vh;
}

.contact_info > li, .page_links > li
{
    list-style-type: none;
    padding: 7.5px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contact_info > li > :not(img), .page_links > li > :not(img)
{
    padding-left: 15px;
}